html
  title Zenith ESB Monitor
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='shortcut icon', href='/images/z-favicon.ico')
    link(rel='stylesheet', type='text/css', href='/stylesheets/monitor.css')
    script(src='js/jquery.js')
    script(src='/js/monitor_access.js')
    script.
      $(function () {
      $(document).ready(function() {
        getRquestInfo();
      });
      });
      function makeVisible(id){
        var elm= document.getElementById(id);
        if(elm.style.display=='none'){
          elm.style.display='block';
        }
        else{
          elm.style.display='none';
        }       
      }
  body
    #page
      #header
        #logo
          img(src='images/zz1.png')
        #zenith
          img(src='images/z3.png')
      #minibar1
      #main
        #leftframe
          a(href='sysInfo')
            div.link System Status
          a(href='/requestInfo')
            div.link ESB Status
          div.link(onClick='makeVisible("configOp");')|Configurations
          ul#configOp 
            li 
              a(href='/serverConfig')
                div.link Server Configuration
            li
              a(href='/eventConfig')
                div.link Events Configuration
            li
              a(href='/logConfig')
                div.link Log Configuration
            li
              a(href='/proxyConfig')
                div.link Proxy Configuration
            li
              a(href='/zenithConfig')
                div.link Zenith Configuration
        #rightframe
          div
            table#gradient-style(summary='Meeting Results')
              tfoot
              p.topics ESB Statictics
              tbody
                tr
                  td Total requests
                  td#req  #{requestInfo.requests}
                tr
                  td Post requests
                  td#post #{requestInfo.post_count}
                tr
                  td Get requests
                  td#get #{requestInfo.get_count}
                tr
                  td Average response time
                  td#resTime #{requestInfo.avr_resp_time}
                tr
                  td Minimum response Time
                  td#minTime #{requestInfo.min_resp_time}
                tr
                  td Maximum response Time
                  td#maxTime #{requestInfo.max_resp_time}
                tr
                  td Byte Reads
                  td#bread #{requestInfo.bytes_read}
                tr
                  td Byte wrote
                  td#bwrite #{requestInfo.bytes_written}
      #bottombar