!!! 5
html
  title Zenith ESB Monitor
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/monitor.css')
    title Zenith SysInfo
    script(src='js/jquery.js')
    script(src='js/highcharts.js')
    script(src='js/exporting.js')
    script(src='/js/monitor_access.js')
    script.
      $(function () {
      $(document).ready(function() {
        drawGraph();
        setValues();
      });
      });
      function makeVisible(id){
        var elm= document.getElementById(id);
        if(elm.style.display=='none'){
          elm.style.display='block';
        }
        else{
          elm.style.display='none';
        }       
      }
  body
    #page
      #header
        #zenith
          img(src='images/z3.png')
      #minibar1
      #main
        #leftframe
          a(href='sysInfo')
            div.link System Status
          a(href='/requestInfo')
            div.link ESB Status
          div.link(onClick='makeVisible("configOp");')|Configurations
          ul#configOp 
            li 
              a(href='/serverConfig')
                div.link Server Configuration
            li
              a(href='/eventConfig')
                div.link Events Configuration
            li
              a(href='/logConfig')
                div.link Log Configuration
            li
              a(href='/proxyConfig')
                div.link Proxy Configuration
            li
              a(href='/zenithConfig')
                div.link Zenith Configuration
                
        #rightframe
          div
            p.topics System Information
            table.table
              tr
                td Platform
                td #{sysinfo.platform}
              tr
                td Type
                td #{sysinfo.type}
              tr
                td Hostname
                td #{sysinfo.hostname}
              tr
                td Memory
                td #{sysinfo.memory}
            br
            p.topics Total Memory Usage
            #container(style='width: 700px; height:300px; postion:relative; left:0; margin: 0')
            br
            p.topics Heap Memory
            #psgrapgh(style='width: 700px; height:300px; postion:relative; left:0; margin: 0')
      #bottombar